/* ice style sheet*/
body {
  background-color: #859fc1;
}

p {
  font-size: 25px;
}

td > img {
  height: 250px;
  width: 250px;
  border: 2px solid gray;
  border-radius: 15%;
}

h1, h2 {
  color: #d3d9e2;
}

div > img {
  border: 2px solid gray;
  border-radius: 15%;
}
